/*Footer*/

@import '../base/variables';


.pie {
    font-family: $fontFamilySecundaria;
    font-size: 1rem;
    color: $fontColorPrimario;
        h3{
            text-align: center;
            margin-top: 0.5rem;
            padding-bottom: 1rem;
            font-family: $fontFamilySecundaria;
            font-size: 1rem;
            width: 100%;
        }
}

.social-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap:wrap;
    padding-bottom: 1rem;
}

.social-item{
    display: flex;    
    padding: 00.5rem;
    color: $fontColorPrimario;
   
}

.icono{
    width: 20px;
    height: 20px;
    padding: 2px;
}

.gradiente{
    background-image: linear-gradient($colorFondoPrincipal, $colorFondoSecundario);
}

ion-icon {
            font-size: 1.5rem;
            color:$fontColorPrimario;
}

