/*Seccion nosotros*/
.img {
    width: 100%;
}

.parrafo-principal{
    padding: 1rem;
    font-family: $fontFamilySecundaria;
    font-size: 0.75rem;
    text-align: left;
}

.sombreado {
    
    text-shadow: 5px 5px 5px gray;
    
    
}