$colorFondoPrincipal: rgb(239, 243, 244);
$colorFondoSecundario: rgb(245, 191, 234);
$fontFamilyPrimaria: 'Rubik', sans-serif;
$fontFamilySecundaria: 'Karla', sans-serif;
$fontColorPrimario: rgb(240,90,160);
$fontColorSecundario: rgb(16, 102, 201);